.input {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 260px;
    height: 48px;
    border-radius: 16px;
    border: 1px solid var(--background);
    background-color: var(--foreground);
    padding: 0 16px;
    color: var(--primary);
    cursor: pointer;
    flex: 1 0;

    &:focus-visible {
        border-color: var(--primary);
        outline: none;
    }

    &::placeholder {
        color: var(--primary-muted);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: var(--secondary);
    }
}
